<main class="w-full h-screen relative max-h-screen overflow-hidden">
  <img ngSrc="assets/images/background.png" alt="background" fill />
  <div class="relative w-full h-full z-20">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
  <div
    class="w-full h-screen hidden md:flex justify-end items-end absolute top-0 left-0 z-10 overflow-visible"
  >
    <img
      ngSrc="assets/images/doctor.png"
      alt="doctor"
      height="800"
      width="400"
    />
  </div>
  <a href="https://wa.me/966551996424">
    <div class="absolute bottom-10 right-10 z-50 w-fit">
      <img
        ngSrc="assets/images/WhatsApp.svg.png"
        alt="WhatsApp"
        width="70"
        height="70"
        class="cursor-pointer pulse"
      /></div
  ></a>
</main>
